#accordion-container{
	width : 29% ;
	display : inline-block;
	vertical-align: top;
	height : 800px;
}

#tabs-container{
	display : inline-block;
	width : 70% ;
	height:800px;
}

#container{
	height : 800px;
}